body {
  font-family: monospace;
  color: white;
  background-color: black;
}

#nameForm {
  display: none;
}

input {
  font-family: monospace;
  color: white;
  background-color: black;
  border: none;
  outline: none;
}

#container {
  display: none;
  text-align: center;
}

#game {
  display: inline-block;
}

canvas {
  float: left;
  padding: 0 30px;
  background-color: black;
}

textarea {
  font-family: monospace;
  color: white;
  background-color: black;
  border: none;
  overflow: hidden;
}
