body {
  background-color: black;
}

#nameForm {
  display: none;
  font-family: monospace;
  color: white;
}

input {
  font-family: monospace;
  color: white;
  background-color: black;
  border: none;
  outline: none;
}

#screen {
  margin: 0 auto;
  padding: 0;
  display: none;
  background-color: black;
}
